{% extends 'base.html' %}

{% block title %}
List of DBs
{% endblock title %}






{% block content %}
{% if qualifyr != None %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success : </strong> {{ qualifyr }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endif%}

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Databases</h6>
    <div class="d-flex text-body-secondary pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Referred DB</strong>
          <a href="#" data-bs-toggle="modal" data-bs-target="#metadataModal">Upload file</a>
        </div>
        <span class="d-block">List of Referred DB rows</span>
      </div>
    </div>
    <div class="modal fade" id="metadataModal" tabindex="-1" aria-labelledby="metadataModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="metadataModalLabel">Upload Metadata</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <form  method="post" enctype="multipart/form-data" action="{% url 'import_metadata' %}">
                {% csrf_token %}
              <label for="formFileMultiple" class="form-label">Multiple <code>.xlsx</code> files are accepted</label>
              <input name="metadata" class="form-control" type="file" id="formFileMultiple">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex text-body-secondary pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#4c0bce"/><text x="50%" y="50%" fill="#4c0bce" dy=".3em">32x32</text></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Qualifyr</strong>
          <a href="#" data-bs-toggle="modal" data-bs-target="#qualifyrModal">Upload file</a>
        </div>
        <span class="d-block">List of Qualifyr rows</span>
      </div>
      <div class="modal fade" id="qualifyrModal" tabindex="-1" aria-labelledby="qualifyrModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="qualifyrModalLabel">Upload Qualifyr Results</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <form  method="post" enctype="multipart/form-data" action="{% url 'import_qualifyr' %}">
                  {% csrf_token %}
                <label for="formFileMultiple" class="form-label">Multiple <code>.xlsx</code> files are accepted</label>
                <input class="form-control" type="file" id="formFileMultiple" name="qualifyr">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex text-body-secondary pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#4c0bce"/><text x="50%" y="50%" fill="#4c0bce" dy=".3em">32x32</text></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Soon.</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block"></span>
      </div>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small> -->
  </div>

  
                      
{% endblock content %}

